{{ "<!-- Configure Top Navigation Bar -->" | safeHTML }}

<!-- use bootstrap icons for social media icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

<header class="sticky-top navigation">
  <div class="container">

<!-- Add NTP and nwtime logos to left. Constrain header height with icon height. -->
    <nav class="navbar navbar-expand-lg navbar-light py-0">
	  <div class="d-flex align-items-center" style="height:80px; width:80px;">
		 <a class="navbar-brand py-0" href="{{ site.BaseURL }}"><img class="img-fluid" src="{{ site.Params.logo1 | absURL }}" alt="{{ site.Title }}"></a> 
      </div>	  
	  <div class="d-flex align-items-center" style="height:80px; width:80px;">
		 <a class="py-0" href="https://www.nwtime.org"><img class="img-fluid" src="{{ site.Params.logo2 | absURL }}" alt=""></a> 
      </div>

 	<!-- Support Multilingual Menu/Sub-Menu -->
      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav ml-auto py-0">
        {{- $currentPage := . -}}
        {{ range .Site.Menus.main -}} 
          <li class="nav-item py-0">
          <a class="nav-link py-0{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
            <a href="{{ .URL | absLangURL }}"></a>
	      </li>	
        {{ if .HasChildren }}
          <li class="nav-item dropdown py-0 ">
            <a class="nav-link dropdown-toggle py-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ .Name }}
            </a>
      <div class="dropdown-menu">
        {{ range .Children }}
            <a class="dropdown-item" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
        {{ end }}
            </div>
          </li>
        {{ else }}
          <li class="nav-item py-0">
            <a class="nav-link py-0" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
          </li>
        {{ end }}
		{{- end }}
        </ul>

<!-- Add Language Selector -->
	  <div>
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		  <li class="btn-group btn-group-sm" role="group">
            <a href="/" class="btn btn-primary translation active" role="button"data-bs-toggle="button" autocomplete="off">EN</a>
            <a href="/de" class="btn translation btn-warning" role="button" data-bs-toggle="button" autocomplete="off">DE</a>
            <a href="/ja" class="btn translation btn-danger" role="button" data-bs-toggle="button" autocomplete="off">JA</a>
          </li>
		</ul>
      </div>
    </nav>
  </div>
  <div class="header-border">
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}